# Токен Telegram-бота
BOT_TOKEN=8777845709:AAEtKxVyJM6ocuc7SU3kEhFcgSi6UPiDAqQ

# Авторизация в админке
ADMIN_SECRET_KEY=forbes_ivan

# LLM SpeShu.AI
LLM_API_KEY=sk-63918db1-dcbd-4346-bed7-e8c0550ce0d3
LLM_BASE_URL=https://speshu.ai/api
LLM_MODEL=anthropic/claude-sonnet-4.6

# Настройки доступа и цен
ACCESS_PRICE_STARS=50
FREE_QUESTIONS_COUNT=4
SBP_PRICE_RUB=100

# Файлы данных
USERS_DATA_FILE=users_data.json
PAYMENTS_LOG_FILE=payments_log.json

# ЮKassa
YOOKASSA_SHOP_ID=1459348
YOOKASSA_SECRET_KEY=test_2hGphCVxKplJZkCnZih6b4duLECx12bNqWZgHvebZPs